{% extends "base.html" %}
{% load static %}
{% block title %}404 - 小馮還沒做好這頁面{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-1">404</h1>
            <img src="{% static 'img/poor_fong.png' %}" alt="可憐的小馮" class="img-fluid">
            <h2 class="mb-4">抱歉，小馮還沒做好這頁面</h2>
            <a href="/" class="btn btn-primary mt-3">返回首頁</a>
        </div>
    </div>
</div>
{% endblock %}
