{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <style>
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    body {
        padding-top: 56px; /* 根據您的導航欄高度調整 */
    }
</style>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logo.png' %}" alt="薩泰爾禮賓系統 Logo" width="24" height="24" class="d-inline-block align-text-top">
          薩泰爾禮賓系統
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/VIPSystem_APP/project_list">專案</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/VIPSystem_APP/VIP_list">貴賓名單</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  嗨！{{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'account_email' %}">修改資料</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">登出</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">登入</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  	{% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </body>
</html>