<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
</head>
<body>

   <h1>{{ vip_name }} 您好</h1>
   <p>
      感謝您一路以來對薩泰爾娛樂的支持，<br>
      {% if selected_event_times|length > 1 %}我們將於 <br>{% else %}我們將於 {% endif %}
      {% for event_string in selected_event_times %}
         {{ event_string }}{% if not forloop.last %}；<br>{% else %}舉辦<br>{% endif %}
      {% endfor %}
      <strong>{{project.description}}《{{project.name}}》</strong><br>
   </p>
   <p>
      請於下方連結中填寫資料，敬請於 {{dead_line_date}}前填寫完成，期待您的蒞臨！
   </p>
   <p>
      <a href="{{ SITE_URL }}{% url 'VIPSystem_APP:respond' token %}">☞點擊按鈕確認參加！</a><span>邀請您的夥伴為：{{username}}</span>
   </p>
   
   <p>
      賀博台瘋 禮賓統籌<br>
      游幃傑 Jerry Yu<br>
      jerryyu@strnetwork.cc<br>
      0924-109-008
   </p>
   <p>
      保留席有限，敬請把握登記！
   </p>
</body>
</html>