<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h4>親愛的貴賓您好：</h4>

    <p>
        感謝您撥空參與薩泰爾娛樂 - 《{{project.name}}》
    </p>

    <p>
        本信件用於核對現場取票資訊，請保留至演出結束，<strong style="color: darkred;">建議您將以下資訊截圖保存，以利加速取票流程。</strong>
    </p>

    <p>期待您蒞臨觀賞，謝謝！</p>

    <p style="margin-top: 20px;">
        ◉ 取票序號：<strong style="color: darkred;">{{participant.pp_id}}</strong><br>
        ◉ 貴賓資訊：<strong>{{participant.vip.organization}} {{participant.vip.name}}</strong>（邀請人：<strong>{{participant.invited_by.profile.nickname}}</strong>）<br>
        ◉ 取票數量：<strong>{{participant.join_people_count}}</strong><br>
        ◉ 取票位置：<strong>壹電視攝影棚入口公關取票桌</strong><br>
        ◉ 取票方式：至取票窗口出示本【出席確認信】的取票資訊
    </p>

    <h4 style="margin-top: 20px;">【活動資訊】</h4>
    <p>
        <strong>【活動資訊】</strong><br>
        演出日期：<strong>{{event_time.get_weekday}}</strong><br>
        場館地址：<strong>壹電視攝影棚 (台北市內湖區新湖二路146巷18號)</strong><br>
        進場時間：<strong>17:00 - 18:00</strong>（若您超過18:00進場，需要按照現場人員指示進場）<br>
        演出時間：<strong>18:00 - 21:00</strong>
    </p>

    <p style="margin-top: 20px;">
        若有任何問題請不吝聯繫邀請您的夥伴或以下窗口
    </p>

    <p>
        <strong>【{{project.name}}】禮賓統籌</strong><br>
        游幃傑 Jerry Yu<br>
        jerryyu@strnetwork.cc<br>
        0924-109-008
    </p>

    <p>
        敬祝 平安順心<br>
        薩泰爾娛樂 敬上
    </p>
    <h3>▶ 現場注意事項</h3>
    <ol>
        <li>本節目錄影全長約 110 至 140 分鐘（含中場休息）。遲到觀眾須於主辦單位安排之時間點，在工作人員的引導之下入場，不得異議。</li>
        <li>未經主辦單位同意，場內禁止錄影、錄音、拍照、限時動態。</li>
        <li>主辦單位未公開節目內容前，需對內容完全保密。</li>
        <li>本節目禁止攜帶外食、飲料、任何種類之金屬、玻璃、雷射筆、煙火或任何危險物品。</li>
        <li>本節目無尺度限制，18 歲以下觀眾建議由成年人陪同觀賞。</li>
        <li>全場次皆為錄影場，入場即代表您同意個人肖像權可作為薩泰爾娛樂股份有限公司 -【 賀瓏夜夜秀 】使用。</li>
        <li>全場次皆為現場錄影，攝影機架設、移動尊重現場導播指示，如有部分阻擋視線敬請見諒。</li>
    </ol>
</body>
</html>