{% extends "base.html" %}
{% block title %}專案詳細資料{% endblock %}
{% block content %}
<style>
    .pagination .page-link {
        color: #343a40; /* 字體顏色 */
        background-color: transparent; /* 背景透明 */
        border: 1px solid #343a40; /* 黑色邊框 */
    }

    .pagination .page-item.active .page-link {
        color: #fff; /* 活動狀態下的字體顏色 */
        background-color: #343a40; /* 活動狀態下的背景顏色 */
        border-color: #343a40; /* 活動狀態下的邊框顏色 */
    }

    .pagination .page-link:hover {
        color: #fff; /* 懸停時的字體顏色 */
        background-color: #495057; /* 懸停時的背景顏色 */
        border-color: #495057; /* 懸停時的邊框顏色 */
    }
</style>
{% if messages %}
    <div class="container mt-4" id="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <script>
        setTimeout(function() {
            const container = document.getElementById('message-container');
            if (container) {
                container.remove();
            }
        }, 3000);
</script>
{% endif %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <!-- <h2 class="mb-0">{{ project.description }}《{{ project.name }}》{{event_time.date}} {{event_time.get_session_display}}</h2> -->
            <h2 class="mb-0">{{ project.description }}《{{ project.name }}》{{event_time.date}} {{event_time.session}}</h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">貴賓邀請名單 
                    {% if ticket_count != 0 %}
                        <span class="text-muted" style="font-size: 20px;" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true"
                        title="已使用票數：{{invited_ticket_count}} 張 <br>剩餘票數：{{remaining_ticket_count}} 張">
                        {{username}} 本場次可使用 {{ticket_count}} 張票
                        </span>
                    {% else %}
                        <span class="text-muted" style="font-size: 20px;">
                        {{username}} 本場次暫無可使用票數，如有需要請洽禮賓統籌
                        </span>
                    {% endif %}
                </h3>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      貴賓名單操作
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <li><a href="{% url 'VIPSystem_APP:invite_list_event_time' project.pk event_time.section event_time.pk %}" class="dropdown-item">從資料庫新增貴賓</a></li>
                      <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addParticipantDirectlyModal">直接新增貴賓</a></li>
                      <li><a href="{% url 'VIPSystem_APP:send_emails_list_event_time' project.pk event_time.pk %}" class="dropdown-item">批量寄出邀請信</a></li>
                    </ul>
                </div>
            </div>
            <!-- 直接新增貴賓 Modal -->
            <div class="modal fade" id="addParticipantDirectlyModal" tabindex="-1" aria-labelledby="addParticipantDirectlyModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addParticipantDirectlyModalLabel">直接新增貴賓</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"> 
                    <form action="{% url 'VIPSystem_APP:update_participants_event_time_directly' project.pk event_time.section event_time.pk %}" method="POST">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">姓名</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="name" placeholder="請輸入貴賓姓名" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">電話</label>
                        <div class="col-sm-9">
                          <input type="tel" class="form-control" name="phone" placeholder="請輸入貴賓電話" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">電子信箱</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" name="email" placeholder="請輸入貴賓電子信箱" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">希望票數</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" name="wish_ticket_count" placeholder="請輸入希望給的張數" min="1" required>
                        </div>
                      </div>
                      <div class="modal-footer" style="display: flex; justify-content: space-between;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">新增</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% if participants_list %}
                <div style="max-height: 70vh; overflow-y: auto;">
                    <table class="table table-striped mt-3">
                        <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                            <tr>
                                <th style="width: 8%;">姓名 <i class="bi bi-search" data-bs-toggle="modal" data-bs-target="#filterNameModal" style="cursor: pointer;"></i></th>
                                <th style="width: 6%;">邀請人 <i class="bi bi-funnel" data-bs-toggle="modal" data-bs-target="#filterInvitedByModal" style="cursor: pointer;"></i></th>
                                <th style="width: 12%;">希望參加場次</th>
                                <th style="width: 8%;">預期發放票數</th>
                                <th style="width: 13%;">狀態 <i class="bi bi-funnel" data-bs-toggle="modal" data-bs-target="#filterStatusModal" style="cursor: pointer;"></i></th>
                                <th style="width: 12%;">參加場次</th>
                                <th style="width: 8%;">確定索取票數</th>
                                <th style="width: 15%;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant in participants_list %}
                            <tr>
                                <td style="width: 8%;">
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" 
                                    title="邀請時間：{{ participant.invited_at|date:"Y/m/d H:i" }}
                                    上次更新時間：{{ participant.last_update_at|date:"Y/m/d H:i" }}">
                                    {{ participant.vip.name }}
                                    </span>
                                </td>
                                <td style="width: 6%;">{{ participant.invited_by.username }}</td>
                                {% if participant.wish_attend == 'all' %}
                                    <td style="width: 12%;">都可以</td>
                                {% else %}
                                    <td style="width: 12%;">
                                        {% for event_time in participant.get_wish_attend_list %}
                                            <!-- {{ event_time.date | date:"Y/m/d" }} {{ event_time.section }}{{ event_time.get_session_display }}  -->
                                            {{ event_time.date | date:"m/d" }} {{ event_time.session }} 
                                            {% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                <td style="width: 8%;">{{ participant.wish_ticket_count }}</td>
                                <td style="width: 13%;">{{ participant.get_status_display }}</td>
                                {% if participant.event_time %}
                                    <td style="width: 12% ;">{{ participant.event_time }}</td>
                                {% elif participant.status == 'declined' %}
                                    <td style="width: 12% ;">不出席任何場次</td>
                                {% else %}
                                    <td style="width: 12% ;">尚未回覆</td>
                                {% endif %}
                               
                                <td style="width: 8%;">{{ participant.join_people_count }}</td>
                                <td style="width: 15%;">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#emailModal{{ participant.id }}">
                                            <i class="bi bi-envelope"></i>
                                        </button>
                                        <button type = "button" class = "btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#updateModal{{ participant.id }}">
                                            <i class="bi bi-pencil-square"></i>
                                        </button> 
                                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#deleteModal{{ participant.id }}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <!-- 刪除確認 Modal -->
                            <div class="modal fade" id="deleteModal{{ participant.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ participant.id }}" data-bs-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ participant.id }}">確認刪除</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            您確定要刪除 {{ participant.vip.name }} 嗎？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                            <form action="{% url 'VIPSystem_APP:remove_participant_by_section' project.pk event_time.section %}" method="POST" style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="participant_id" value="{{ participant.vip.id }}">
                                                <button type="submit" class="btn btn-danger">確認刪除</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 寄件 Modal -->
                            <div class="modal fade" id="emailModal{{ participant.id }}" tabindex="-1" aria-labelledby="emailModalLabel{{ participant.id }}" data-bs-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="emailModalLabel{{ participant.id }}">寄件資訊確認</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'VIPSystem_APP:send_email_event_time' project.pk event_time.section event_time.pk %}" id="emailForm{{ participant.id }}">
                                                {% csrf_token %}
                                                <div class="form-group mb-3 row">
                                                    <input type="hidden" name="vip_id" value="{{ participant.vip.id }}">
                                                    <input type="hidden" name="wish_ticket_count" value="{{ participant.wish_ticket_count }}">
                                                    <label for="recipient_name" class="col-sm-2 col-form-label">收件人名稱</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" id="recipient_name" name="recipient_name" required value="{{ participant.vip.name }}" placeholder="請輸入收件人名稱">
                                                    </div>  
                                                    <label for="sender" class="col-sm-2 col-form-label">收件人 E-mail</label>
                                                    <div class="col-sm-5">
                                                        <input type="email" class="form-control" id="sender" name="sender" required value="{{ participant.vip.email }}" placeholder="請輸入收件人電子郵件">
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="mb-3">
                                                    <h5>信件開頭（如需換行請在句尾輸入 &lt;br&gt;）</h5>
                                                    <textarea class="form-control" name="email_content" rows="3">嗨 {{ participant.vip.name }} 好久不見！</textarea>
                                                </div>
                                                <hr>
                                                <div class="mb-3">
                                                    <h5>邀請場次</h5>
                                                    <ul class="list-group" id="eventList{{ participant.id }}">
                                                        {% for event_time in participant.get_wish_attend_list %}
                                                        <li class="list-group-item">
                                                            <!-- <strong>{{ event_time.date }} {{ event_time.get_session_display }}</strong> -->
                                                            <strong>{{ event_time.date }} {{ event_time.session }}</strong>
                                                            <br>
                                                            <small>
                                                                時間：{{ event_time.start_time }} - {{ event_time.end_time }} | 
                                                                地點：{{ event_time.location_name }} | 
                                                                地址：{{ event_time.location_address }}
                                                            </small>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <input type="hidden" name="event_times" value="{{ participant.wish_attend_list_email }}">
                                                <input type="hidden" name="project_name" value="{{ project.name }}">
                                                <input type="hidden" name="project_description" value="{{ project.description }}">
                                                <input type="hidden" name="username" value="{{ username }}">
                                                <hr>
                                                <div class="mb-3">
                                                    <h5>填表死線</h5>
                                                    <select class="form-select" name="dead_line_date">
                                                        {% for event_time in participant.get_wish_attend_list %}
                                                            <option value="{{ event_time.dead_line_date}}">
                                                                {{ event_time.get_weekday }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                                                    <div class="d-flex gap-3">
                                                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#previewModal{{ participant.id }}">信件預覽</button>
                                                        <button type="submit" class="btn btn-dark" id="submitBtn{{ participant.id }}">送出</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.getElementById('emailForm{{ participant.id }}').addEventListener('submit', function(e) {
                                    var submitBtn = document.getElementById('submitBtn{{ participant.id }}');
                                    submitBtn.disabled = true;
                                    submitBtn.innerHTML = ' <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> 寄件中請稍候';
                                });
                            </script>
                            <!-- 信件預覽 Modal -->
                            <div class="modal fade" id="previewModal{{ participant.id }}" tabindex="-1" aria-labelledby="previewModalLabel{{ participant.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="previewModalLabel{{ participant.id }}">信件預覽</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" id="previewContent{{ participant.id }}"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" id="returnEmailModal{{ participant.id }}" data-bs-toggle="modal" data-bs-target="#emailModal{{ participant.id }}" data-bs-dismiss="modal">返回</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.querySelector('[data-bs-target="#previewModal{{ participant.id }}"]').addEventListener('click', function() {
                                    // 動態生成預覽內容
                            
                                    var emailForm = document.getElementById('emailForm{{ participant.id }}');
                                    var formData = new FormData(emailForm);
                                    var emailContent = formData.get('email_content');
                                    var recipientName = formData.get('recipient_name');
                                    var senderEmail = formData.get('sender');
                                    var eventTimes = formData.get('event_times'); // 獲取所有的 event_times 
                                    var projectName = formData.get('project_name');
                                    var username = formData.get('username');
                                    var wish_ticket_count = formData.get('wish_ticket_count');
                                    // 動態生成 eventTimes 的列表內容
                            
                                    var previewContent = `
                                        <h1>${recipientName} 您好</h1>

                                        <p>
                                            ${emailContent}
                                        </p>
                                        <p>
                                            感謝您一路以來對薩泰爾娛樂的支持，<br>
                                            我們將於近期舉辦【${projectName}】的錄影活動<br>
                                        </p>
                                        <p>
                                            請於下方連結中填寫資料，敬請於 <strong style="color:darkred;">活動當週星期三</strong> 前填寫完成，期待您的蒞臨！
                                        </p>

                                        <p>
                                            <a href="#">☞點擊按鈕確認參加！</a>
                                        </p>

                                        <p>
                                            場館地址：<strong>壹電視攝影棚 (台北市內湖區新湖二路146巷18號)</strong><br>
                                            進場時間：<strong>17:00 - 18:00</strong><br>
                                            演出時間：<strong>18:00 - 21:00</strong>
                                        </p>

                                        <p>
                                            填寫時麻煩留意以下資訊：
                                            <ul>
                                                <li>出席人數以 <<${wish_ticket_count}>> 人為限</li>
                                                <li>報名成功後，薩泰爾娛樂最晚將於活動當週週四寄出電子「出席確認信」，若逾期仍未收到「出席確認信」，請儘速與邀請您的夥伴或禮賓統籌聯繫。</li>
                                            </ul>
                                        </p>
                                        <p>
                                            <strong>【${projectName}】禮賓統籌</strong><br>
                                            游幃傑 Jerry Yu<br>
                                            jerryyu@strnetwork.cc<br>
                                            0924-109-008
                                        </p>
                                        <p>保留席有限，敬請把握登記！</p>
                                        <p>薩泰爾娛樂 敬上</p>
                                        <h3>▶現場注意事項</h3>
                                        <ol>
                                            <li>本節目錄影全長約 110 至 140 分鐘（含中場休息）。遲到觀眾須於主辦單位安排之時間點，在工作人員的引導之下入場，不得異議。</li>
                                            <li>未經主辦單位同意，場內禁止錄影、錄音、拍照、限時動態。</li>
                                            <li>主辦單位未公開節目內容前，需對內容完全保密。</li>
                                            <li>本節目禁止攜帶外食、飲料、任何種類之金屬、玻璃、雷射筆、煙火或任何危險物品。</li>
                                            <li>本節目無尺度限制，18 歲以下觀眾建議由成年人陪同觀賞。</li>
                                            <li>全場次皆為錄影場，入場即代表您同意個人肖像權可作為薩泰爾娛樂股份有限公司 -【 賀瓏夜夜秀 】使用。</li>
                                            <li>全場次皆為現場錄影，攝影機架設、移動尊重現場導播指示，如有部分阻擋視線敬請見諒。</li>
                                        </ol>
                                    `;
                                    
                                    document.getElementById('previewContent{{ participant.id }}').innerHTML = previewContent;
                                });
                            </script>
                            <!-- 修改 Modal -->
                            <div class="modal fade" id="updateModal{{ participant.id }}" tabindex="-1" aria-labelledby="updateModalLabel{{ participant.id }}" data-bs-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalLabel{{ participant.id }}">修改 {{ participant.vip.name }} 的參與資訊</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'VIPSystem_APP:update_participants_info_by_event_time' project.pk event_time.section event_time.pk %}" id="updateForm{{ participant.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="vip_id" value="{{ participant.vip.id }}">
                                                <h6>參與場次修改</h6>
                                                <div class="row row-cols-1 row-cols-md-2 g-4">
                                                    <div class="col">
                                                        <label class="card h-100">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    <input type="checkbox" name="selected_event_time_by_section" value="all" class="form-check-input me-2 selectAll" id="selectAll{{ participant.id }}" form="updateForm{{ participant.id }}" {% if 'all' in participant.wish_attend %}checked{% endif %}>
                                                                    都可以
                                                                </h5>
                                                                <p class="card-text">
                                                                    選擇此選項表示不特別限定貴賓參與的場次，讓貴賓自由選擇
                                                                </p>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    {% for event_time in event_times %}
                                                    <div class="col">
                                                        <label class="card h-100">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    <input form="updateForm{{ participant.id }}" type="checkbox" name="selected_event_time_by_section" value="{{ event_time.id }}" class="form-check-input me-2 event-time-checkbox" {% if event_time in participant.get_wish_attend_list %}checked{% endif %}>
                                                                    <!-- {{ event_time.date }} {{event_time.section}}{{ event_time.get_session_display }} -->
                                                                    {{ event_time.date }} {{event_time.section}}{{ event_time.session }}
                                                                </h5>
                                                                <p class="card-text">
                                                                    時間：{{ event_time.start_time }} - {{ event_time.end_time }}<br>
                                                                    地點：{{ event_time.location_name }}<br>
                                                                    地址：{{ event_time.location_address }}
                                                                </p>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <hr>
                                                <h6>希望發放票數調整</h6>
                                                <div class="row row-cols-1 row-cols-md-2 g-4">
                                                    <div class="col">
                                                        <input type="number" class="form-control" name="wish_ticket_count" value="{{ participant.wish_ticket_count }}">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                                            <button type="submit" form="updateForm{{ participant.id }}" class="btn btn-primary" id="confirmEventTime">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.getElementById('updateModal{{ participant.id }}').addEventListener('shown.bs.modal', function (event) {
                                    const modal = document.getElementById('updateModal{{ participant.id }}');
                                    const selectAllCheckbox = modal.querySelector('#selectAll{{ participant.id }}')
                                    const eventTimeCheckboxes = modal.querySelectorAll('.event-time-checkbox');

                                    function updateSelectAllState() {
                                        selectAllCheckbox.checked = Array.from(eventTimeCheckboxes).every(checkbox => checkbox.checked);
                                    }

                                    selectAllCheckbox.addEventListener('change', function() {
                                        eventTimeCheckboxes.forEach(checkbox => {
                                            checkbox.checked = this.checked;
                                        });
                                    });

                                    eventTimeCheckboxes.forEach(checkbox => {
                                        checkbox.addEventListener('change', function() {
                                            if (!this.checked) {
                                                selectAllCheckbox.checked = false;
                                            } else {
                                                updateSelectAllState();
                                            }
                                        });
                                    });
                                });
                            </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center">目前尚未邀請貴賓！</p>
            {% endif %}
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" data-page="{{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
    <div class="mt-3 d-flex">
        <a href="{% url 'VIPSystem_APP:project_detail' project.pk %}" class="btn btn-outline-secondary">回上層</a>
    </div>
</div>

<!-- 篩選姓名 Modal -->
<div class="modal fade" id="filterNameModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="filterNameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterNameModalLabel">顯示哪些姓名</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="filterNameForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="nameFilter" name="nameFilter" placeholder="請輸入關鍵字">
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="applyFilterName()" id="applyFilterNameBtn">篩選</button>
            </div>
        </div>
    </div>
</div>

<!-- 篩選誰邀請 modal-->
<div class="modal fade" id="filterInvitedByModal" tabindex="-1" aria-labelledby="filterInvitedByModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterInvitedByModalLabel">篩選主要邀請人</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="filterInvitedByForm"> 
                    {% csrf_token %}
                    <div class="d-flex flex-wrap">
                        {% for user in staffs %}
                            <input type="checkbox" class="btn-check" value="{{ user.id }}" id="user{{ user.id }}">
                            <label class="btn btn-outline-dark m-1" for="user{{ user.id }}"> {{ user.username }} </label>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="applyFilterInvitedBy()" id="applyFilterInvitedByBtn">篩選</button>   
            </div>
        </div>
    </div>
</div>
<!-- 篩選狀態modal-->
<div class="modal fade" id="filterStatusModal" tabindex="-1" aria-labelledby="filterStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterStatusModalLabel">篩選回復狀態</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="filterStatusForm"> 
                    {% csrf_token %}
                    <div class="d-flex flex-wrap">
                        <input type="checkbox" class="btn-check" value="added" id="added">
                        <label class="btn btn-outline-dark m-1" for="added"> 已新增尚未寄信 </label>
                        <input type="checkbox" class="btn-check" value="confirmed" id="confirmed">
                        <label class="btn btn-outline-dark m-1" for="confirmed"> 確認參加 </label>
                        <input type="checkbox" class="btn-check" value="sended" id="sended">
                        <label class="btn btn-outline-dark m-1" for="sended"> 已發送邀請信件等待回覆 </label>
                        <input type="checkbox" class="btn-check" value="declined" id="declined">
                        <label class="btn btn-outline-dark m-1" for="declined"> 拒絕參加 </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="applyFilterStatus()" id="applyFilterStatusBtn">篩選</button>   
            </div>
        </div>
    </div>
</div>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    function applyFilterName() {
        var nameFilter = document.getElementById('nameFilter').value;
        var url = new URL(window.location.href);
        if (nameFilter == '') {
            url.searchParams.delete('nameFilter');
        } else {
            url.searchParams.set('nameFilter', nameFilter);
        }
        // 重置頁碼到第一頁
        url.searchParams.set('page', 1);
        window.location.href = url.toString();
    }

    function applyFilterInvitedBy() {
        var selectedInvitedBy = [];
        var checkboxes = document.querySelectorAll('#filterInvitedByForm input[type="checkbox"]:checked');
        checkboxes.forEach(function(checkbox) {
            selectedInvitedBy.push(checkbox.value);
        });
        var url = new URL(window.location.href);
        url.searchParams.delete('filter_invited_by');
        selectedInvitedBy.forEach(function(staff_id) {
            url.searchParams.append('filter_invited_by', staff_id);
        });
        // 重置頁碼到第一頁
        url.searchParams.set('page', 1);
        window.location.href = url.toString();
    }

    function applyFilterStatus() {
        var selectedStatus = [];
        var checkboxes = document.querySelectorAll('#filterStatusForm input[type="checkbox"]:checked');
        checkboxes.forEach(function(checkbox) {
            selectedStatus.push(checkbox.value);
        });
        var url = new URL(window.location.href);
        url.searchParams.delete('filter_status');
        selectedStatus.forEach(function(status) {
            url.searchParams.append('filter_status', status);
        });
        // 重置頁碼到第一頁
        url.searchParams.set('page', 1);
        window.location.href = url.toString();
    }
</script>
{% endblock %}